{% extends '_partials/_base.html' %}
{% load static %}
{% block pagetitle %}Pagina en blanco{% endblock %}

{% block title %}Blanco{% endblock %}

{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>

{% endblock %}

{% block content %}
<form class="form" id="kt_form_1">
    <div class="form-group row">
        <div class="col-lg-4">
            <label>Nombre:</label>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                <input type="text" class="form-control" placeholder="Ej: Juanito Perez Silva Enrique"/>
            </div>
        </div>
        <div class="col-lg-4">
            <label>Numero Celular:</label>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-phone"></i></span></div>
                <input type="text" class="form-control" name="phone" placeholder="Ej: +5691416681" />
            </div>
        </div>
        <div class="col-lg-4">
            <label>Email:</label>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-info-circle"></i></span></div>
                <input type="text" class="form-control" placeholder="Ej: Ejemplo@Ejemplo.ej"/>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2">
            <label>NRC:</label>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser"></i></span></div>
                <input type="text" class="form-control" name="digits" placeholder="Ej: 7573" />
            </div>
        </div>
        <div class="col-lg-2">
            <label>Computadores:</label>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser"></i></span></div>
                <input type="text" class="form-control" name="digits" placeholder="Ej: 26" />
            </div>
        </div>
        <div class="col-lg-2">
            <label>Licencias:</label>
            <div class="form-check checkbox-inline">
                <label class="checkbox checkbox-outline">
                    <input type="checkbox" name="checkboxes" />
                    <span></span>
                    Simio 1
                </label>
                <label class="checkbox checkbox-outline">
                    <input type="checkbox" name="checkboxes" />
                    <span></span>
                    ej 2
                </label>
                <label class="checkbox checkbox-outline">
                    <input type="checkbox" name="checkboxes" />
                    <span></span>
                    ej 3
                </label>
                <label class="checkbox checkbox-outline">
                    <input type="checkbox" name="checkboxes" />
                    <span></span>
                    ej 4
                </label>
                <label class="checkbox checkbox-outline">
                    <input type="checkbox" name="checkboxes" />
                    <span></span>
                    ej 5
                </label>
            </div>
        </div>
        <div class="col-lg-6">
            <label>Licencias:</label>
            <select class="form-control" name="option">
                <option value="">Select</option>
                <option>Simio 1</option>
                <option>Ej 2</option>
                <option>Ej 3</option>
                <option>Ej 4</option>
                <option>Ej 5</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Licencias:</label>
            <textarea class="form-control" name="memo" placeholder="Enter a menu" rows="3"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label>Confirmar:</label>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="form-check checkbox-inline">
                <label class="checkbox checkbox-outline">
                    <input type="checkbox" name="checkbox" />
                    <span></span>
                </label>
            </div>
            <span class="form-text text-muted">Confirma la informacion</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 ml-lg-auto">
            <button type="submit" class="btn btn-primary font-weight-bold mr-2">Validate</button>
            <button type="reset" class="btn btn-light-primary font-weight-bold">Cancel</button>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
{% endblock %}